.bg-blur{
    position: absolute;
    width: 98%;
    height: 98%;
    background-image: url("caballeros-zodiaco-como-acabo-anime-original-saint-seiya.webp");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain
    ;
}
body{
    width: 100vh;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
.pegaso{
    position: absolute;
    top: 50px;
    right: 10px;
    width: 150PX;
    height: 150px;
    background-image: url("203229296-ilustración-de-silueta-de-vector-de-pegaso-mágico-lindo-aislado-sobre-fondo-negro-sombra-en-forma-de.jpg");
    background-size: cover;
    transform: scalex(-1);
 
}
.logo{
    position: absolute;
    top: 50px;
    left: 473px;
    width: 400px;
    height: 200px;
    background-image: url("Saint_Seiya_logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.inputs{
    position: absolute;
    top: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 150px;
    margin: 0 0 0 40px;
}
input{
    width: 100%;
    height: 100%;
    margin: 10px 0 10px 0;
}
.circulos{
    display: flex;
    position: absolute;
    bottom: 30px;
    width: 100%;
    justify-content: space-around;
}
.circulo1{

    left: 473px;
    width: 200px;
    height: 200px;
    background-image: url("211f3dbf5057e2b7c80a961ed6ee2c22.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    box-shadow: white ;
}
.circulo2{
    left: 473px;
    width: 200px;
    height: 200px;
    background-image: url("0b7a4664d29a67df60baac5091efbde4.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 200px;
}
.circulo3{
    left: 473px;
    width: 200px;
    height: 200px;
    background-image: url("cd83579c020a7f817c5889f88bf250c9.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 200px;   
}